html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

i {
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-areas: "header" "card1" "card2" "card3" "footer";
  gap: 1rem;
  margin: 0;
}

body header {
  grid-area: header;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

nav ul li {
  padding: .5em;
}

nav ul li a{
  color: #3783a3;
  font-size: 1.25rem;
}

img {
  display: block;
  width: 100%;
}

header > p:nth-child(4) {
  font-size: 2rem;
  border-top: .2rem solid #e2e2e2;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

header > p:last-child {
  border-bottom: .2rem solid #e2e2e2;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

section {
  display: contents;
}

main {
  display: contents;
}

.article1 {
  grid-area: card1;
}

.article2 {
  grid-area: card2;
}

.article3 {
  grid-area: card3;
}

footer {
  border-top: .2rem solid #e2e2e2;
  grid-area: footer;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "header header header"
    "card1 card2 card3"
    "footer footer footer";
    gap: 1rem;
    margin: 0;
  }

  h1 {
    text-align: left;
  }

  header nav {
    margin-left: auto;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
  }

  body header {
    display: flex;
    flex-wrap: wrap;
  }

  header p {
    display: block;
  }

}
