html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

h1 {
  text-align: center;
  font-size: 1.125rem;
  margin: 0;
}

i {
  font-style: normal;
}

h1 i {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h2 i {
  font-size: 1.5rem;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "card1" "card2" "card3" "footer";
  gap: 1rem;
  margin: 0;
}

body header {
  grid-area: header;
}

header nav {
  margin-bottom: .5rem;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

nav ul li {
  padding: .5em;
  padding-top: 0;
}

nav ul li a {
  color: #3783a3;
  font-size: 1.125rem;
}

img {
  display: block;
  width: 100%;
}

article img {
  margin-bottom: 1.5rem;
}

header > p:nth-child(4) {
  font-size: 2rem;
  border-top: .2rem solid #e2e2e2;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1rem;
}

header > p:last-child {
  border-bottom: .2rem solid #e2e2e2;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: .5rem;
  padding: 1.5rem;
  padding-top: 0;
}

section {
  display: contents;
}

article {
  margin-bottom: 1rem;
}

article p {
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
}

main {
  display: contents;
}

article a {
  color: #3783a3;
  padding: .5em 1em .6em;
  border: .2rem solid #3783a3;
  border-radius: .3em;
  text-decoration: none;
}

.article1 {
  grid-area: card1;
}

.article2 {
  grid-area: card2;
}

.article3 {
  grid-area: card3;
}

footer {
  border-top: .2rem solid #e2e2e2;
  grid-area: footer;
  text-align: center;
  padding: 1rem;
  font-size: .75rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    margin-top: 0;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  body {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header"
      "card1 card2 card3"
      "footer footer footer";
    gap: 1rem;
    margin: 0;
  }

  h1 {
    text-align: left;
  }

  header nav {
    margin-left: auto;
    margin-bottom: 0;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  nav ul li {
    padding-top: .5rem;
  }

  nav ul li a {
    font-size: 1rem;
  }

  body header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }

  article p {
    flex-grow: 1;
    padding-bottom: 0;
  }

}
